main {
    margin-top: 50px;
    margin-bottom: 120px;
}



.help {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.help .help_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.help .help_box .name {
    display: flex;
    align-items: center;
    gap: 20px;
}
.help .help_box .name .profile_img img {
    width: 80px;
    height: 80px;
}
.help .help_box .name .profile_img .online {
    border-radius: 100%;
    background-color: #81ff55;
    width: 15px;
    height: 15px;
    position: relative;
    left: 60px;
    bottom: 20px;
}

.help .help_box .name .text h3 {
    font-weight: 600;
font-size: 22px;
color: #000;
margin-bottom: 10px;
}

h2{
text-align: center;
font-size: 36px;
}
